<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteBook"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityTheme1"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoteBook">
        </activity>

        <activity android:name=".MainActivityTheme2" />
        <activity android:name=".MainActivityTheme3" />
        <activity android:name=".MainActivityTheme4" />
        <activity android:name=".MainActivityTheme5" />
        <activity android:name=".MainActivityTheme6" />
        <activity android:name=".MainActivityTheme9" />
        <activity android:name=".MainActivityTheme10" />

        <activity android:name=".RegisterActivityTheme1" />
        <activity android:name=".RegisterActivityTheme2" />
        <activity android:name=".RegisterActivityTheme3" />
        <activity android:name=".RegisterActivityTheme4" />
        <activity android:name=".RegisterActivityTheme5" />
        <activity android:name=".RegisterActivityTheme6" />
        <activity android:name=".RegisterActivityTheme9" />
        <activity android:name=".RegisterActivityTheme10" />

        <activity android:name=".LoginActivityTheme1" />
        <activity android:name=".LoginActivityTheme2" />
        <activity android:name=".LoginActivityTheme3" />
        <activity android:name=".LoginActivityTheme4" />
        <activity android:name=".LoginActivityTheme5" />
        <activity android:name=".LoginActivityTheme6" />
        <activity android:name=".LoginActivityTheme9" />
        <activity android:name=".LoginActivityTheme10" />

        <activity android:name=".HomeActivityTheme1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme9"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".HomeActivityTheme10"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name=".AddNoteActivityTheme1" />
        <activity android:name=".AddNoteActivityTheme2" />
        <activity android:name=".AddNoteActivityTheme3" />
        <activity android:name=".AddNoteActivityTheme4" />
        <activity android:name=".AddNoteActivityTheme5" />
        <activity android:name=".AddNoteActivityTheme6" />
        <activity android:name=".AddNoteActivityTheme9" />
        <activity android:name=".AddNoteActivityTheme10" />

        <activity android:name=".ThemeSelectionActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity android:name=".ThemeCustomizationActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ImagesActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

    </application>

</manifest>
